<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">
        Blog
    </a>

    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
        </li>
        <% categories.forEach(category => { %>

            <li class="nav-item">
                <a href="/category/<%= category.slug %>" class="nav-link"><%= category.title %></a>
            </li>

       <% }) %>
    </ul>

    <ul class="navbar-nav ml-auto">
        <% if(req.session.user == undefined) {%>
            <li class="nav-item">
                <a href="/login" class="nav-link">Login</a>
            </li>
        <% } else {%>
            <li class="nav-item">
                <a href="/logout" class="nav-link">Logout</a>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">Painel</a>
            </li>
        <% } %>
    </ul>

</nav>